<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>고려대학교 컴퓨터시스템 연구실</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='mark.ico') }}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link
        href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
        rel="stylesheet">
    <link
        href="{{ url_for('static', filename='lib/animate/animate.css') }}"
        rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
        rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}"
        rel="stylesheet">
        <style>
            :lang(en) {
                font-family: 'Open-sans'; /* English font */
            }

            :lang(ko) {
                font-family: 'Pretendard-Regular';
                src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
             /* Korean font */
            }
            .dropdown .btn::after {
               display: none;
            }
        </style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

     <!-- 카테고리 영역 -->
    <div class="row " style="height: 10rem;">
        <div class="col-1" ></div>
        <div class="col-3" style="background-color: rgb(255, 255, 255); margin-top: 3rem;">
            <div class="container">
                <img href="/" src="../static/img/mark_.png" class="rounded float-start" alt="..." style="width: 5rem;height: 5rem; padding-right: 20px;">
                <h1 href="/" style="color:#262626; font-weight: bold;">CS LAB</h1>
                <p href="/" style="font-size: small;">COMPUTER SYSTEM LAB</p>
            </div>
        </div>
    
        <div class="col-7" style="background-color:#ffffff;margin-top: 5.5rem;padding-right: 3rem; ">
            <div class="col-1"></div>
            <div class="container-sm-auto d-flex justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white;
                    border: none; color: black;font-weight: bold; ">
                        Research
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/research">Research Area</a></li>
                        <li><a class="dropdown-item" href="/project">Projects</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white;
                    border: none; color: black;font-weight: bold;margin-left:  1.875rem;">
                       Professor
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/professor">Professor</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white;
                    border: none; color: black;font-weight: bold;margin-left:  1.875rem;">
                        People
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/members">Current members</a></li>
                        <li><a class="dropdown-item" href="/alumni">Alumni</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white;
                    border: none; color: black;font-weight: bold;margin-left:  1.875rem;">
                        Publications
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/journal">Journals</a></li>
                        <li><a class="dropdown-item" href="/conference">Conferences</a></li>
                        <li><a class="dropdown-item" href="/patent">Patents</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white;
                    border: none; color: black;font-weight: bold;margin-left:  1.875rem">
                        Courses
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/undergraduate">Undergraduate Courses</a></li>
                        <li><a class="dropdown-item" href="/graduate">Graduate Courses</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white;
                    border: none; color: black;font-weight: bold;margin-left:  1.875rem">
                       Boards
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/undergraduate">notice</a></li>
                        <li><a class="dropdown-item" href="/graduate">News</a></li>
                    </ul>
                </div>
            </div>
           
            <div class="row">
                
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- Team Start -->
    
    <div calss="row" style="background-color: #F9F9F9;">
        <h1 style="color: #7C001A; font-weight: bold; text-align: center; padding-top: 5rem;">M.S/Ph.D</h1>
        <h4 style="color: #7E7E7E; font-weight: bold; text-align: center; margin-top: 0.5rem;">Computer Systems Lab News</h4>
        <div lang= "ko" class="row row-cols-1 row-cols-md-2 g-2" style="padding-top: 5rem; padding-bottom: 5rem; padding-left: 32rem;padding-right: 32rem;">
            <div class="col" style="padding-left: 1.5rem;padding-right: 1.5rem; margin-bottom: 3rem;">
                <div class="card shadow rounded-5" style="border-radius: 40px;">
                    <img src="{{ url_for('static', filename='img/one.jpg') }}"
                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 20rem; object-fit: cover; border-top-left-radius: 40px;
                        border-top-right-radius: 40px; border-bottom: 1px solid #7E7E7E;"
                        alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="mb-0">손 원 준 (Won-Joon Son)</h5>
                        <middle>Course : M.S/Ph.D, 2018/09 ~<br></middle>
                        <middle>E-mail : swj8905@korea.ac.kr</middle>
                    </div>
                </div>
            </div>
            <div class="col" style="padding-left: 1.5rem;padding-right: 1.5rem; margin-bottom: 3rem;">
                <div class="card shadow rounded-5" style="border-radius: 40px;">
                    <img src="{{ url_for('static', filename='img/hero.jpg') }}"
                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 20rem; object-fit: cover; border-top-left-radius: 40px;
                        border-top-right-radius: 40px; border-bottom: 1px solid #7E7E7E;"
                        alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="mb-0"> 고 영 웅 (Young-Woong Ko)</h5>
                        <middle> Course : M.S/Ph.D, 2019/03 ~<br></middle>
                        <middle> E-mail : vhzpahs52@korea.ac.kr</middle>
                    </div>
                </div>
            </div>
          </div>
    </div>

    <div calss="row" >
        <h1 style="color: #7C001A; font-weight: bold; text-align: center; margin-top: 7rem;">M.S</h1>
        <h4 style="color: #7E7E7E; font-weight: bold; text-align: center; margin-top: 0.5rem;">Computer Systems Lab News</h4>
        <div lang= "ko" class="row row-cols-1 row-cols-md-4 g-2" style="padding-top: 5rem; padding-bottom: 5rem; padding-left:14rem;padding-right: 14rem;">
            <div class="col" style="padding-left: 1.5rem;padding-right: 1.5rem; margin-bottom: 3rem;">
                <div class="card shadow rounded-5" style="border-radius: 40px;">
                    <img src="{{ url_for('static', filename='img/jinone.jpeg') }}"
                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 20rem; object-fit: cover; border-top-left-radius: 40px;
                        border-top-right-radius: 40px; border-bottom: 1px solid #7E7E7E;"
                        alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="mb-0">  성 진 원 (Jin-Won Seong)</h5>
                        <middle> Course : M.S, 2022/03~<br></middle>
                        <middle>E-mail : jin1seong@korea.ac.kr </middle>
                    </div>
                </div>
            </div>
            <div class="col" style="padding-left: 1.5rem;padding-right: 1.5rem; margin-bottom: 3rem;">
                <div class="card shadow rounded-5" style="border-radius: 40px;">
                    <img src="{{ url_for('static', filename='img/sea.jpeg') }}"
                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 20rem; object-fit: cover; border-top-left-radius: 40px;
                        border-top-right-radius: 40px; border-bottom: 1px solid #7E7E7E;"
                        alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="mb-0"> 임 바 다 (Ba-Da Lim) </h5>
                        <middle> Course : M.S, 2021/09 ~<br></middle>
                        <middle>E-mail : zzzxxx3166@korea.ac.kr </middle>
                    </div>
                </div>
            </div>
            <div class="col" style="padding-left: 1.5rem;padding-right: 1.5rem; margin-bottom: 3rem;">
                <div class="card shadow rounded-5" style="border-radius: 40px;">
                    <img src="{{ url_for('static', filename='img/min.jpeg') }}"
                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 20rem; object-fit: cover; border-top-left-radius: 40px;
                        border-top-right-radius: 40px; border-bottom: 1px solid #7E7E7E;"
                        alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="mb-0"> 최 민 혁 (Min-hyeok Choi) </h5>
                        <middle> Course : M.S, 2023/03 ~<br></middle>
                        <middle> E-mail : chlrhalsgur0209@gmail.com</middle>
                    </div>
                </div>
            </div>
            <div class="col" style="padding-left: 1.5rem;padding-right: 1.5rem; margin-bottom: 3rem;">
                <div class="card shadow rounded-5" style="border-radius: 40px;">
                    <img src="{{ url_for('static', filename='img/duckone.jpeg') }}"
                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 20rem; object-fit: cover; border-top-left-radius: 40px;
                        border-top-right-radius: 40px; border-bottom: 1px solid #7E7E7E;"
                        alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="mb-0"> 윤 덕 원 (Deok-Won Yoon) </h5>
                        <middle> Course : M.S, 2023/03 ~<br></middle>
                        <middle>E-mail : ydw1007@naver.com </middle>
                    </div>
                </div>
            </div>
    </div>

    <div calss="row" style="background-color: #F9F9F9">
        <h1 style="color: #7C001A; font-weight: bold; text-align: center; padding-top: 5rem;">Staff</h1>
        <h4 style="color: #7E7E7E; font-weight: bold; text-align: center; margin-top: 0.5rem;">Computer Systems Lab News</h4>
        <div lang= "ko" class="row row-cols-1 row-cols-md-2 g-2" style="padding-top: 5rem; padding-bottom: 5rem; padding-left: 32rem;padding-right: 32rem;">
            <div class="col" style="padding-left: 1.5rem;padding-right: 1.5rem; margin-bottom: 3rem;">
                <div class="card shadow rounded-5" style="border-radius: 40px;">
                    <img src="{{ url_for('static', filename='img/sohee.jpeg') }}"
                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 20rem; object-fit: cover; border-top-left-radius: 40px;
                        border-top-right-radius: 40px; border-bottom: 1px solid #7E7E7E;"
                        alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="mb-0"> 성 소 희 (So-Heui Sung) </h5>
                        <middle> E-mail : sshhkh@naver.com</middle>
                        <middle> </middle>
                    </div>
                </div>
            </div>
            <div class="col" style="padding-left: 1.5rem;padding-right: 1.5rem; margin-bottom: 3rem;">
                <div class="card shadow rounded-5" style="border-radius: 40px;">
                    <img src="{{ url_for('static', filename='img/yunhee.png') }}"
                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 20rem; object-fit: cover; border-top-left-radius: 40px;
                        border-top-right-radius: 40px; border-bottom: 1px solid #7E7E7E;"
                        alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="mb-0"> 이 윤 희 (Yun-Hee Lee) </h5>
                        <middle> E-mail : yunhee2997@korea.ac.kr</middle>
                        <middle> </middle>
                    </div>
                </div>
            </div>
          </div>
    </div>



     <!-- footer 영역 -->
     <div lang="en" class="row d-flex align-items-center" style="height: 17rem; background-color: #1E1E1E;">
        <div class="col" ></div>
        <div lang="en" class="col-9 " lang="ko" >
            <hr style="color: #FFFFFF; border-width: 2px;">    
        <h3 style="color: rgb(255, 255, 255); text-align: left;">
            COMPUTER SYSTEM LAB</h3>
        <p style="text-align: left; color: #FFFFFF;">Industry-Academy Building 236, Korea
            University, 145 Anam-ro, Seongbuk-gu, Seoul, Republic of Korea. 02841
            <br>Professor : lchoi@korea.ac.kr · swj8905@korea.ac.kr
            <br> Tel : +82-2-3290-3896
            </p>
       
        </div>
        <div class="col"></div>
    </div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
        src="{{ url_for('static', filename='lib/wow/wow.min.js') }}">
    </script>
    <script
        src="{{ url_for('static', filename='lib/easing/easing.min.js') }}">
    </script>
    <script
        src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}">
    </script>
    <script
        src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}">
    </script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>