<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Indoor Positioning Laboratory</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='mark.ico') }}">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
            rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link
            href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
            rel="stylesheet">
        <link
            href="{{ url_for('static', filename='lib/animate/animate.css') }}"
            rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
            rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <style>
            :lang(en) {
                font-family: 'Open-sans';
                /* English font */
            }

            :lang(ko) {
                font-family: 'Pretendard-Regular';
                src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format('woff');
                /* Korean font */
            }
            .dropdown .btn::after {
                display: none;
            }

            .dropdown-toggle-no-caret::after {
                display: none !important;
            }

            .nav-item:hover .nav-link {
                color: #7C001A;
                /* 원하는 색상으로 변경 */
            }

            .dropdown .btn::after {
                display: none;
            }
        </style>
    </head>

    <body>
        <!-- Spinner Start -->
        <div
            id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem;"
                role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

       <!-- 카테고리 영역 시작 -->
       <nav
       class="navbar navbar-expand-lg bg-white "
       aria-label="Eighth navbar example"
       style="height: 10rem; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);">
       <div class="container d-flex align-items-center" style ="margin-left: 17rem;" >
           <a class="navbar-brand " href="/"
               <div class="container h-100">
                   <img
                       href="/"
                       src="../static/img/mark_.png"
                       class="rounded float-start"
                       alt="..."
                       style="width: 5rem;height: 5rem; padding-right: 20px;">
                   <h4 href="/" style="color:#262626; font-weight: bold;">Indoor Positioning Laboratory</h4>
                   <p href="/" style="font-size: small;">Indoor Positioning Laboratory</p>
               </div>
           </a>
           <button
               class="navbar-toggler"
               style="background-color: #F9F9F9;"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarsExample07"
               aria-controls="navbarsExample07"
               aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse justify-content-end" id="navbarsExample07" style="margin-right: 17rem;">
               <ul class="navbar-nav" style="font-weight: bold;">
                   <li class="nav-item" style="padding-right: 1.5rem;padding-top:1rem;">
                       <a class="nav-link active" aria-current="page" href="/">Home</a>
                   </li>

                   <li class="nav-item dropdown" style="padding-right: 1.5rem;padding-top:1rem;">
                       <a
                           class="nav-link dropdown-toggle dropdown-toggle-no-caret"
                           href="#"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Research</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a class="dropdown-item" href="/research">Research Area</a>
                           </li>
                           <li>
                               <a class="dropdown-item" href="/project">Projects</a>
                           </li>
                       </ul>
                   </li>

                   <li class="nav-item" style="padding-right: 1.5rem; padding-top:1rem;">
                       <a class="nav-link active" aria-current="page" href="/professor">Professor</a>
                   </li>

                   <li class="nav-item dropdown" style="padding-right: 1.5rem;padding-top:1rem;">
                       <a
                           class="nav-link dropdown-toggle dropdown-toggle-no-caret"
                           href="#"
                           data-bs-toggle="dropdown dropdown-toggle-no-caret"
                           aria-expanded="false">People</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a class="dropdown-item" href="/members">Current members</a>
                           </li>
                           <li>
                               <a class="dropdown-item" href="/alumni">Alumni</a>
                           </li>
                       </ul>
                   </li>
                   <li class="nav-item dropdown" style="padding-right: 1.5rem;padding-top:1rem;">
                       <a
                           class="nav-link dropdown-toggle dropdown-toggle-no-caret"
                           href="#"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Publications</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a class="dropdown-item" href="/journal">Journals</a>
                           </li>
                           <li>
                               <a class="dropdown-item" href="/conference">Conferences</a>
                           </li>
                           <li>
                               <a class="dropdown-item" href="/patent">Patents</a>
                           </li>
                       </ul>
                   </li>

                   <li class="nav-item dropdown" style="padding-right: 1.5rem;padding-top:1rem;">
                       <a
                           class="nav-link dropdown-toggle dropdown-toggle-no-caret"
                           href="#"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Courses</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a class="dropdown-item" href="/undergraduate">Undergraduate Courses</a>
                           </li>
                           <li>
                               <a class="dropdown-item" href="/graduate">Graduate Courses</a>
                           </li>
                       </ul>
                   </li>
                   <li class="nav-item dropdown" style="padding-top:1rem;">
                       <a
                           class="nav-link dropdown-toggle dropdown-toggle-no-caret"
                           href="#"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Boards</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a class="dropdown-item" href="/notice">notice</a>
                           </li>
                           <li>
                               <a class="dropdown-item" href="/graduate">News</a>
                           </li>
                       </ul>
                   </li>
               </ul>
           </div>
       </nav>
       <!-- 카테고리 영역 끝 -->


            <!-- Team Start -->

            <div calss="row" style="margin-top: 7%;">
                <div
                    class="col-md-8 col-8 col-lg-10"
                    style="display: flex; align-items:flex-start; font-size: 18px; margin: 0 auto; width: 60%; text-align: left;">
                    <h3 style="color: #7C001A; text-align: left; font-family: 'Open-sans';">Members</h3>
                </div>
                <!-- Ph.D 영역 -->
                <div class="custom_container">
                    <div
                        class="col-md-8 col-8 col-lg-10"
                        style="display: flex; align-items:flex-start; font-size: 18px; margin: 0 auto; width: 60%; text-align: left;">
                        <h3 style="color: #000; text-align: left; margin-top:5rem;">Ph.D</h3>
                        <hr class=" border: none;border-top: 1px solid #000; margin: 20px 0;width: 80%">
                    </div>
                    <hr
                        style=" border: none;border-top: 2px solid #000; margin: 20px auto;width:60%; text-align: center; margin-bottom:3rem;">
                    <div class="row" style="display: flex; align-items:flex-center;">
                        <div
                            class="col-md-8 col-8 col-lg-10"
                            style="display: flex; align-items:flex-center; font-size: 18px; margin: 0 auto; padding: 10px; width: 40%; text-align: left;">
                            <div class="card shadow mb-3" style="width: 100%; max-width: 100%; border-radius: 20px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img
                                            style="padding: 1rem 1rem; border-radius: 30px;"
                                            src="../static/img/one.jpg"
                                            class="img-fluid rounded-start"
                                            alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div
                                            class="card-body"
                                            style="text-align:center; display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;">
                                            <h1 class="card-title" style="padding-bottom: 1rem;">Won-Joon Son</h1>
                                            <h5
                                                class="card-text"
                                                style="color: #7C001A;   font-weight: bold;
                                  text-decoration: underline;padding-bottom: 3rem;">M.S / Ph.D<br></h5>
                                            <p class="card-text">E-mail : swj8905@korea.ac.kr</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-md-8 col-8 col-lg-10"
                            style="display: flex; align-items:flex-center; font-size: 18px; margin: 0 auto; padding: 10px; width: 40%; text-align: left;">
                            <div class="card shadow mb-3" style="width: 100%; max-width: 100%; border-radius: 20px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img
                                            style="padding: 1rem 1rem; border-radius: 30px;"
                                            src="../static/img/hero.jpg"
                                            class="img-fluid rounded-start"
                                            alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div
                                            class="card-body"
                                            style="text-align:center;   display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;">
                                            <h2 class="card-title" style="padding-bottom: 1rem;">Young-Woong Ko</h2>
                                            <h5
                                                class="card-text"
                                                style="color: #7C001A;   font-weight: bold;
                                  text-decoration: underline;padding-bottom: 3rem;">M.S / Ph.D<br></h5>
                                            <p class="card-text">E-mail : vhzpahs52@korea.ac.kr</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MS 영역 -->
                <div class="custom_container">
                    <div
                        class="col-md-8 col-8 col-lg-10"
                        style="display: flex; align-items:flex-start; font-size: 18px; margin: 0 auto; width: 60%; text-align: left;">
                        <h3 style="color: #000; text-align: left; margin-top:5rem;">M.S</h3>
                        <hr class=" border: none;border-top: 1px solid #000; margin: 20px 0;width: 80%">
                    </div>
                    <hr
                        style=" border: none;border-top: 2px solid #000; margin: 20px auto;width:60%; text-align: center;">
                    <div class="row">
                        <div
                            class="col-md-8 col-8 col-lg-10"
                            style="display: flex; align-items:flex-center; font-size: 18px; margin: 0 auto; padding: 25px; width: 40%; text-align: left;">
                            <div class="card shadow mb-3" style="width: 100%; max-width: 100%; border-radius: 20px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img
                                            style="padding: 1rem 1rem; border-radius: 30px;"
                                            src="../static/img/jinone.jpeg"
                                            class="img-fluid rounded-start"
                                            alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div
                                            class="card-body"
                                            style="text-align:center;   display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;">
                                            <h2 class="card-title" style="padding-bottom: 1rem;">Jin-Won Seong</h2>
                                            <h5
                                                class="card-text"
                                                style="color: #7C001A;   font-weight: bold;
                                  text-decoration: underline;padding-bottom: 3rem;">M.S <br></h5>
                                            <p class="card-text">E-mail : jin1seong@korea.ac.kr</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-md-8 col-8 col-lg-10"
                            style="display: flex; align-items:flex-center; font-size: 18px; margin: 0 auto; padding: 10px; width: 40%; text-align: left;">
                            <div class="card shadow mb-3" style="width: 100%; max-width: 100%; border-radius: 20px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img
                                            style="padding: 1rem 1rem; border-radius: 30px;"
                                            src="../static/img/sea.jpeg"
                                            class="img-fluid rounded-start"
                                            alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div
                                            class="card-body"
                                            style="text-align:center;   display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;">
                                            <h2 class="card-title" style="padding-bottom: 1rem;">Ba-Da Lim</h2>
                                            <h5
                                                class="card-text"
                                                style="color: #7C001A;   font-weight: bold;
                                  text-decoration: underline;padding-bottom: 3rem;">M.S <br></h5>
                                            <p class="card-text">E-mail : zzzxxx3166@korea.ac.kr</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-md-8 col-8 col-lg-10"
                            style="display: flex; align-items:flex-center; font-size: 18px; margin: 0 auto; padding: 10px; width: 40%; text-align: left;">
                            <div class="card shadow mb-3" style="width: 100%; max-width: 100%; border-radius: 20px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img
                                            style="padding: 1rem 1rem; border-radius: 30px;"
                                            src="../static/img/min.jpeg"
                                            class="img-fluid rounded-start"
                                            alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div
                                            class="card-body"
                                            style="text-align:center;   display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;">
                                            <h2 class="card-title" style="padding-bottom: 1rem;">Min-hyeok Choi</h2>
                                            <h5
                                                class="card-text"
                                                style="color: #7C001A;   font-weight: bold;
                                  text-decoration: underline;padding-bottom: 3rem;">M.S <br></h5>
                                            <p class="card-text">E-mail : chlrhalsgur0209@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-md-8 col-8 col-lg-10"
                            style="display: flex; align-items:flex-center; font-size: 18px; margin: 0 auto; padding: 10px; width: 40%; text-align: left;">
                            <div class="card shadow mb-3" style="width: 100%; max-width: 100%; border-radius: 20px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img
                                            style="padding: 1rem 1rem; border-radius: 30px;"
                                            src="../static/img/duckone.jpeg"
                                            class="img-fluid rounded-start"
                                            alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div
                                            class="card-body"
                                            style="text-align:center;   display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;">
                                            <h2 class="card-title" style="padding-bottom: 1rem;">Deok-Won Yoon</h2>
                                            <h5
                                                class="card-text"
                                                style="color: #7C001A;   font-weight: bold;
                                  text-decoration: underline;padding-bottom: 3rem;">M.S <br></h5>
                                            <p class="card-text">E-mail : ydw1007@naver.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Staff 영역 -->
                <div class="custom_container">
                    <div
                        class="col-md-8 col-8 col-lg-10"
                        style="display: flex; align-items:flex-start; font-size: 18px; margin: 0 auto;  width: 60%; text-align: left;">
                        <h3 style="color: #000; text-align: left; margin-top:5rem;">Staff</h3>
                        <hr class=" border: none;border-top: 1px solid #000; margin: 20px 0;width: 80%;  margin-bottom:3rem;">
                    </div>
                    <hr
                        style=" border: none;border-top: 2px solid #000; margin: 20px auto;width:60%; text-align: center;">
                    <div class="row">
                        <div
                            class="col-md-8 col-8 col-lg-10"
                            style="display: flex; align-items:flex-center; font-size: 18px; margin: 0 auto; padding: 10px; width: 40%; text-align: left;">
                            <div class="card shadow mb-3" style="width: 100%; max-width: 100%; border-radius: 20px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img
                                            style="padding: 1rem 1rem; border-radius: 30px;"
                                            src="../static/img/sohee.jpeg"
                                            class="img-fluid rounded-start"
                                            alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div
                                            class="card-body"
                                            style="text-align:center;   display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;">
                                            <h2 class="card-title" style="padding-bottom: 1rem;">So-Heui Sung</h2>
                                            <h5
                                                class="card-text"
                                                style="color: #7C001A;   font-weight: bold;
                                  text-decoration: underline;padding-bottom: 3rem;">Staff<br></h5>
                                            <p class="card-text">E-mail : sshhkh@naver.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 7%;">
                        <div
                            class="col-md-8 col-8 col-lg-10"
                            style="display: flex; align-items:flex-center; font-size: 18px; margin: 0 auto; padding: 10px; width:40%; text-align: left;">
                            <div class="card shadow mb-3" style="width: 100%; max-width: 100%; border-radius: 20px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img
                                            style="padding: 1rem 1rem; border-radius: 30px;"
                                            src="../static/img/yunhee.png"
                                            class="img-fluid rounded-start"
                                            alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div
                                            class="card-body"
                                            style="text-align:center;   display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;">
                                            <h2 class="card-title" style="padding-bottom: 1rem;">Yun-Hee Lee</h2>
                                            <h5
                                                class="card-text"
                                                style="color: #7C001A;   font-weight: bold;
                                  text-decoration: underline;padding-bottom: 3rem;">Staff<br></h5>
                                            <p class="card-text">E-mail : yunhee2997@korea.ac.kr</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer 영역 -->
            <div
                lang="en"
                class="row d-flex align-items-center"
                style="height: 17rem; background-color: #1E1E1E;">
                <div class="col"></div>
                <div lang="ko" class="col-9 ">
                    <hr style="color: #FFFFFF; border-width: 2px;">
                    <h3 style="color: rgb(255, 255, 255); text-align: left;">
                        Indoor Positioning Laboratory</h3>
                    <p style="text-align: left; color: #FFFFFF;">Industry-Academy Building 236,
                        Korea University, 145 Anam-ro, Seongbuk-gu, Seoul, Republic of Korea. 02841
                        <br>Professor : lchoi@korea.ac.kr · swj8905@korea.ac.kr
                        <br>
                        Tel : +82-2-3290-3896
                    </p>

                </div>
                <div class="col"></div>
            </div>

            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
                <i class="bi bi-arrow-up"></i>
            </a>

            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
            <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
            <script
                src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
            <script
                src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

            <!-- Template Javascript -->
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </body>

    </html>