<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Indoor Positioning Laboratory</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='mark.ico') }}">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
            rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet">

        <!-- Libraries Stylesheet -->
  

        <!-- Customized Bootstrap Stylesheet -->
        <link
            href="../static/css/bootstrap.min.css"
            rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../static/css/style.css" rel="stylesheet">

        <style>
            :lang(en) {
                font-family: 'Open-sans'; /* English font */
            }

            :lang(ko) {
                font-family: 'Pretendard-Regular';
                src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
             /* Korean font */
            }
            .dropdown .btn::after {
                display: none;
            }

            .dropdown-toggle-no-caret::after {
                display: none !important;
            }

            .nav-item:hover .nav-link {
                color: #7C001A;
                /* 원하는 색상으로 변경 */
            }

            .dropdown .btn::after {
               display: none;
            }

            .board-container {
                width: 80%;
                margin: 0 auto;
                padding: 5px;
                background-color: #f0f0f0;
            }

            .board {
                background-color: #fff;
                padding: 5px;
            }

            .post {
                margin-bottom: 20px;
            }

            .post h3 {
                margin-bottom: 5px;
            }

            .post p {
                color: #333;
            }
        </style>
    </head>

    <body>
          <!-- 카테고리 영역 시작 -->
    <div class="custom_container" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);">
        <nav
            class="navbar navbar-expand-lg navbar-light bg-white "
            aria-label="Eighth navbar example"
            style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); padding-top: 2%; padding-bottom:2%;">
            <div class="container-fluid" style="margin-left: 10%;margin-right: 10%;">
                <a class="navbar-brand " href="/">
                    <div class="d-flex align-items-center">
                        <img
                            src="../static/img/mark_.png"
                            alt="Logo"
                            width="60"
                            height="70"
                            class="img-fluid">
                        <div class="ms-3">
                            <h4 class="mb-0" style="color: #262626;">Indoor Positioning Laboratory</h4>
                            <h6 class="mb-0">Indoor Positioning Laboratory</p>
                        </div>
                    </div>
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    style="background-color: #F9F9F9;"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample07"
                    aria-controls="navbarsExample07"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="color: red;"></span>
                </button>
                <div
                    class="collapse navbar-collapse justify-content-end"
                    id="navbarsExample07"
                    style="padding: 0 0;">
                    <ul class="navbar-nav" style="font-weight: bold;">
                        <li class="nav-item" style="padding-right: 1.5rem;padding-top:1rem;font-weight: bold;">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="nav-item dropdown" style="padding-right: 1.5rem;padding-top:1rem;">
                            <a
                                class="nav-link dropdown-toggle dropdown-toggle-no-caret"
                                href="#"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">Research</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/research">Research Area</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/project">Projects</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item" style="padding-right: 1.5rem; padding-top:1rem;">
                            <a class="nav-link active" aria-current="page" href="/professor">Professor</a>
                        </li>

                        <li class="nav-item dropdown" style="padding-right: 1.5rem;padding-top:1rem;">
                            <a
                                class="nav-link dropdown-toggle dropdown-toggle-no-caret"
                                href="/members"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">People</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/members">Current members</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/alumni">Alumni</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" style="padding-right: 1.5rem;padding-top:1rem;">
                            <a
                                class="nav-link dropdown-toggle dropdown-toggle-no-caret"
                                href="#"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">Publications</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/journal">Journals</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/conference">Conferences</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/patent">Patents</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown" style="padding-right: 1.5rem;padding-top:1rem;">
                            <a
                                class="nav-link dropdown-toggle dropdown-toggle-no-caret"
                                href="#"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">Courses</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/undergraduate">Undergraduate Courses</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/graduate">Graduate Courses</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" style="padding-top:1rem;">
                            <a
                                class="nav-link dropdown-toggle dropdown-toggle-no-caret"
                                href="#"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">Boards</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/">notice</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/">News</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- 카테고리 영역 끝 -->

        <!-- Current Start -->
        <section id="section1" lang="ko" class="text-center custom-container1" style="background-color: white;  background-size: cover; background-position: center; margin: 0 0;">
            <div class="row py-lg-5" style=" background-size: cover; background-position: center; margin: 0 0; padding-top: 5rem;">
                <div class="col-lg-8 col-md-10 my-5 mx-auto">
                    <h1
                    style="color: #7C001A; font-weight: bold; text-align: center; margin-bottom: 0.5rem;">Current Projects</h1>
                <h4
                    lang="ko"
                    style="color: #7E7E7E; font-weight: bold; text-align: center; margin-bottom: 5rem;">Indoor Positioning Laboratory</h4>
                </div>
                <div class="col-lg-8 col-md-10 my-5 py-5 mx-auto" style= "text-align: left;">
                    <div class="card px-5 py-3">
                        <div class="card-body">
                            <p>
                                <b style="font-size: 16px;">&nbsp;</b>
                            </p>
                            <p>
                                <a
                                    href="/project_1"
                                    style="">
                                    <b style="color: rgb(0, 0,0); font-size: 16px;">2022
                                    </b>
                                    <span style="font-size: 16px;">
                                        <b>LG화학 여수 화학 단지 측위시스템 Pilot 구축</b>
                                    </span>
                                    <b style="color: rgb(0, 0,0); font-size: 16px;">&nbsp;(2022.11.22 ~ 2022.12.31)</b>
                                </a>
                            </p>
            
                            <p>
                                <strong style="color: rgb(0, 0,0); font-size: 16px;">
                                    <a
                                        href="/project_2">2022 미래도전국방기술 연구 개발 (2022.11.25 ~ 2025.10.31)</a>
                                </strong>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong>
                                        <a
                                            href="/project_3">2022&nbsp;교통약자를 위한 도시철도 역사내 맞춤형 스마트 내비게이션 개발 (2022.05.01~2023.12.31)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong>
                                        <a
                                            href="/project_4">2022&nbsp;디지털기반 건축시공 및 안전감리 기술개발 (2022.04.01~2026.12.31)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong>
                                        <a
                                            href="/project_5">2021&nbsp;위치기반 마케팅 플랫폼 개발을 위한 실내 측위 시스템 구축 (2021.08.13.~2023.12.31)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">&nbsp;</b>
                            </p>
                        </div>
                    </div>
                </div>
              </div>
            </section>


        <!-- Current End -->

        <!-- Past Start -->
        <section id="section1" lang="ko" class="text-center custom-container1" style="background-color: #F9F9F9;  background-size: cover; background-position: center; margin: 0 0;">
            <div class="row py-lg-5" style=" background-size: cover; background-position: center; margin: 0 0; padding-top: 5rem;">
                <div class="col-lg-8 col-md-10 my-5 mx-auto">
                    <h1
                    style="color: #7C001A; font-weight: bold; text-align: center; margin-bottom: 0.5rem;">Past Projects</h1>
                <h4
                    lang="ko"
                    style="color: #7E7E7E; font-weight: bold; text-align: center; margin-bottom: 5rem;">Indoor Positioning Laboratory</h4>
                </div>
                <div class="col-lg-8 col-md-10 my-5 mx-auto" style= "text-align: left;">
                    <div class="card px-5 py-3">
                        <div class="card-body">
                            <p>
                                <b style="font-size: 16px;">&nbsp;</b>
                            </p>
                            <p>
                                <b style="font-size: 16px;">
                                    <strong>
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=4061">2020&nbsp;블록체인 기반 KU Mobile ID 체계 수립 및 구축 (2019.03.01~2021.12.31)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong>
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=4239">2021&nbsp;스마트
                                            공장 안전 및 관제 시스템을 위한 지구 자기장 기반 실내측위 기술의 포스코 현장 성능 검증 (2021.02.01~2021.11.26)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong>
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=4053">2020 장애인 실내 길안내 내비게이션 서비스 (2020.07.01~2020.12.31)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong>
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=4048">2020 실내 측위를 위한 저전력 웨어러블 소형 태그 보드 설계 및 시작품 제작 (2019.06.01 ~ 2020.08.31)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong>
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2982">2015 미래창조과학부 정보통신산업진흥원 (2015.6.1~2020.12.31)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong style="font-size: 16px;">
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=3724">2018 원퍼스트, 현대 모비스 (2018.06.01 ~ 2019.05.31)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong style="font-size: 16px;">
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2984">2017 한국연구재단 선도연구과제 (2017.03.01 ~ 2020.02.28)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2983">2016 현대엘리베이터 (2016.8.1~2017.12.31)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2981">2015 미래창조과학부 X-Project (2015.12.1~2016.11.31)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <a
                                    href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=4094">
                                    <span style="font-size: 16px;">
                                        <b>2015 정보통신산업진흥원 (2015.06.01 ~ 2018.12.31)</b></span></a>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong style="font-size: 16px;">
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2980">2013 정보통신산업진흥원 (2013.05.01 ~ 2014.04.30 )</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong style="font-size: 16px;">
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2979">2010 한국IT서비스산업협회 (2010.3.1~2014.2.28)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong style="font-size: 16px;">
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2978">2010 한국연구재단 (2010.5.1~2013.4.30)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2976">2010 ETRI (2009.10.1~2010.3.31)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2977">2009 삼성전자 (2009.9.1~2009.12.31)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2975">2008 ETRI (2008.12.5~2009.3.31)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2974">2007 삼성전자 (2007.1.1~2007.12.31)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2973">2007 한국과학재단 (2007.9.1~2012.8.31)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2972">2006 ETRI (2006.8.1~2007.3.1)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2971">2005 한국소프트웨어진흥원 (2005.3.1~2006.2.1)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2970">2003 한국학술진흥재단 (2003.12.1~2005.11.1)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <strong style="font-size: 16px;">
                                        <a
                                            href="http://it.korea.ac.kr/engine/index.php?mid=board_yUcq93&amp;document_srl=933">2003 한국학술진흥재단 (2003.12.1~2004.11.1)</a>
                                    </strong>
                                </b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2968">2003 삼성종합연구소 (2003.7.1~2004.6.30)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2965">2001 시스템집적반도체기반기술 개발사업 (2001.7.1~2003.6.30)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">
                                    <span style="font-size: 16px;">
                                        <strong>
                                            <a
                                                href="http://it.korea.ac.kr/engine/index.php?mid=board_TJva06&amp;document_srl=2961">2001 과학기술부 (2001.9.01~2004.08.30)</a>
                                        </strong></span></b>
                            </p>
            
                            <p>
                                <b style="font-size: 16px;">&nbsp;</b>
                            </p>
                        </div>
                      </div>
                </div>
              </div>
            </section>
        <!-- Past End -->

    </body>

  <!-- footer 영역 -->
  <div lang="en" class="row d-flex align-items-center" style="height: 17rem; background-color: #1E1E1E;">
    <div class="col" ></div>
    <div lang="en" class="col-9 " lang="ko" >
        <hr style="color: #FFFFFF; border-width: 2px;">    
    <h3 style="color: rgb(255, 255, 255); text-align: left;">
        Indoor Positioning Laboratory</h3>
    <p style="text-align: left; color: #FFFFFF;">Industry-Academy Building 236, Korea
        University, 145 Anam-ro, Seongbuk-gu, Seoul, Republic of Korea. 02841
        <br>Professor : lchoi@korea.ac.kr · swj8905@korea.ac.kr
        <br> Tel : +82-2-3290-3896
        </p>
   
    </div>
    <div class="col"></div>
</div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>